nav.purple
    .nav-wrapper
        a.brand-logo.right(href='/')
            |  Donight
            i.material-icons.right event

        a#filter-button.left(
                data-activates='filter-side-nav', data-sidenav='left',
                data-menuwidth='500', data-closeonclick='true')
            i.material-icons menu

include filter.jade

.container
    div#wrapper(ui-view)

