div(ng-repeat="event in eventsVm.events")
    .row
        .col-xs-12
            h4
                a(ng-href="{{ event.url }}", target="_blank") {{ event.title }}

    .row
        .col-xs-12.col-md-4.pull-right
            .col-xs-3.pull-right
                p איפה:
            .col-xs-9.pull-right
                p {{ event.location }}
        .col-xs-12.col-md-4.pull-right
            .col-xs-3.pull-right
                p מתי:
            .col-xs-9.pull-right
                p {{ event.start_time | amCalendar:Date():{'sameElse': 'MM/DD/YYYY בשעה HH:mm'} }}
        .col-xs-12.col-md-4.pull-right
            .col-xs-3.pull-right
                p מחיר:
            .col-xs-9.pull-right
                p {{ eventsVm.priceDisplay(event) }}

    .row
        .col-xs-12.col-md-9.bottom-margin.pull-right
            hm-read-more(hm-text="{{ event.description }}", hm-limit="200", hm-more-text="קרא עוד", hm-less-text="פחות")
        .col-xs-12.col-md-3.bottom-margin.pull-right
            img.img-rounded.img-responsive(ng-src="{{ event.image }}")


